* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 46);
}

.card {
    width: 20vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(8, 8, 59);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.281);
    border: solid rgba(255, 255, 255, 0.37) 1px;
}

.paradox {
    width: 17vw;
    height: 35vh;
    border-radius: 10px;
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px 0px;
}

.info h1 {
    display: flex;
    color: white;
    padding: 10px 0;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.info h1:hover {
    color: rgb(118, 141, 240);
    cursor: default;
}

.info p {
    color: rgba(255, 255, 255, 0.568);
    padding: 10px 0px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Times, serif;
}

.info2 {
    width: 90%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.price {
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgb(118, 141, 240);
    font-size: 19px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.price img {
    width: 22px;
}

.days {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.days h3 {
    color: white;
    padding: 0px 5px;
    font-size: 19px;
    font-weight: 500;
}

hr {
    width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.356);
    margin: 30px 0px;
    border: none;
}

h2 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: rgb(0, 225, 255);
    list-style: none;
    text-decoration: none;
}

a:hover {
    color: brown;
}

@media screen and (max-width: 945px) {
    .card {
        width: 90vw;
    }
}

@media screen and (max-width: 945px) {
    .card {
        width: 50vw;
        height: auto;
    }

    .paradox {
        width: 40vw;
        height: 25vh;
    }
}

@media screen and (max-width: 680px) {
    .card {
        width: 70vw;
    }
}

@media screen and (max-width: 485px) {
    .card {
        width: 90vw;
    }

    .paradox {
        width: 60vw;
    }
}